
html{
    font-family:'Roboto';
}

body {
    padding-top: 80px; 
    background-color: #02C0FC;
}

.caja{
    background-color: #FF3D96;
    border-radius: 10px;
}

.logo {
    width: 50%; /* La imagen ocupa el ancho completo de la columna */
    height: auto; /* Mantiene la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio disponible sin distorsión */
}

.titulo, #frase, .descripcion{
    color: white;    
}

#frase{
    font-style: italic;
}

.plan{
    background-color: white;
    border-radius: 10px;
    margin: 5%;
    margin-bottom: 10px;
    border-color:#6E3980 ;
    border-style: solid;
}

.tipo-plan{
    background-color: #FEA2C7;
    margin-top: 10px;
    margin: 10px;
    border-radius: 10px;
    border-color:#6E3980 ;
    border-style: solid;
}

#precio{
    color: #02C0FC;
}

.caracteristicas{
    margin-left: 0%;
    color: #FF3D96;
    font-size: 20px;
    list-style-type: none;
}

.caracteristicas .cheque {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
    /*vertical-align: middle;*/
}

.bases .imagen{
    margin-top: 5%;
    width: 100px;
    height: 100px;
    margin-bottom: 3%;
}

.base{
    background-color: #FF3D96;
}

#base-medio{
    border-radius: 0px;
    border-style: solid;
    border-top: #6E3980;
    border-bottom: #6E3980;
}

#base-izquierda{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#base-derecha{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*
.bases .titulo{
    border-style: solid;
    border-color: #6E3980;
    border-top: #FF3D96;
    border-left: #FF3D96;
    border-right: #FF3D96;
}*/


/* login */
.content {
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: blur(5px);
}

.login-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.login-box {
    width: 60%;
    max-width: 50x;
    margin: auto;
    padding: 20px;
}


.hidden {
    display: none;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.bodyLogin {
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.h1Login {
	font-weight: bold;
	margin: 0;
}

.h2Login {
	text-align: center;
}

.pLogin {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.spanLogin {
	font-size: 12px;
}

.aLogin {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.buttonLogin {
	border-radius: 20px;
	border: 1px solid #cccccc;
	background-color: #cccccc;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.buttonLogin:active {
	transform: scale(0.95);
}

.buttonLogin:focus {
	outline: none;
}

.buttonLogin.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.formLogin {
	background-color: #02c0fc;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
	color: #F6F6F6;
}

.inputLogin {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.containerLogin {
	background-color:  #F6F6F6;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.containerLogin.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.containerLogin.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.containerLogin.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #fc77a6;
	background: -webkit-linear-gradient(to right, #fc77a6, #fc77a6);
	background: linear-gradient(to right, #fc77a6, #fc77a6);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #000000;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.containerLogin.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.containerLogin.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.containerLogin.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/* navbar */
.navbar {
    transition: all 0.3s ease; /* Animación al desplazar */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.navbar-light .navbar-nav .nav-link {
    color: #333; /* Color de los enlaces */
}

.navbar-light .navbar-toggler-icon {
    background-color: #333; /* Color del icono del botón de menú */
}

.navbar-light .navbar-brand {
    color: #333; /* Color del texto del brand */
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #555; /* Color del brand al pasar el mouse o enfocar */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #555; /* Color de los enlaces al pasar el mouse o enfocar */
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #555; /* Color de los enlaces activos o desplegados */
}

.bg-custom {
    background-color: rgba(255, 255, 255, 0.9) !important; /* Fondo semi-transparente */
}

.navbar {
	background-color: #ddd; /* Color de fondo gris */
  }
  
  .navbar-brand {
	color: #ff69b4; /* Color del texto del logo */
  }
  
  .nav-link {
	color: #ff69b4 !important; /* Color del texto de los enlaces */
  }
  
  .nav-link:hover {
	color: #cc397b !important; /* Color del texto de los enlaces al pasar el mouse */
  }
  
  .social-icons a {
    font-size: 1.5rem;
}

.social-icons a:hover {
    color: gray;
}


  