html{
    font-family:'Roboto';
}

body {
    padding-top: 80px; 
    background-color: #02C0FC;
}

.boletines{
	display: grid;
	grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 2fr); 
    gap: 10px;
	background-color: #F6F6F6;
	margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #ff3d96;
}

.boletin {
    background-color: #ff3d96;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #f6f6f6;
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 400px;
}

.boton-candado {
    background-image: url("/imagenes/candadoCerrado.png");
    background-size: cover;
    background-position: center;
    width: 65px; 
    height: 65px;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

.boton-candado-Abierto {
    background-image: url("/imagenes/candadoAbierto.png");
    background-size: cover;
    background-position: center;
    width: 65px; 
    height: 65px;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

.barra-progreso {
    width: 100%;
    height: 30px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.barra-avance {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
    transition: width 0.5s ease-in-out;
}



img {
    height: 50%;
    max-width: 100%;
}

h3 {
    margin-bottom: 10px;
}

/* navbar */
.navbar {
    transition: all 0.3s ease; /* Animación al desplazar */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.navbar-light .navbar-nav .nav-link {
    color: #333; /* Color de los enlaces */
}

.navbar-light .navbar-toggler-icon {
    background-color: #333; /* Color del icono del botón de menú */
}

.navbar-light .navbar-brand {
    color: #333; /* Color del texto del brand */
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #555; /* Color del brand al pasar el mouse o enfocar */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #555; /* Color de los enlaces al pasar el mouse o enfocar */
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #555; /* Color de los enlaces activos o desplegados */
}

.bg-custom {
    background-color: rgba(255, 255, 255, 0.9) !important; /* Fondo semi-transparente */
}

.navbar {
	background-color: #ddd; /* Color de fondo gris */
  }
  
  .navbar-brand {
	color: #ff69b4; /* Color del texto del logo */
  }
  
  .nav-link {
	color: #ff69b4 !important; /* Color del texto de los enlaces */
  }
  
  .nav-link:hover {
	color: #cc397b !important; /* Color del texto de los enlaces al pasar el mouse */
  }
  
  .social-icons a {
    font-size: 1.5rem;
}

.social-icons a:hover {
    color: gray;
}


  
