h2{
    text-align: center;
    color: #f1f1f1;
}

input{
    text-align: center;
}
body {
    background-image: url('../Imagenes/otroFondo.jpg');  /* Sube un nivel para ir a la carpeta "imagenes" */
    background-size: cover; /* Ajusta la imagen al tamaño completo del cuerpo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}
form {
    background-color: rgba(255, 255, 255, 0.452);
    border: 3px solid #f1f1f1;
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
/*Estilo básico de ingreso a nivel*/
.nivel {
    cursor: pointer; /* Cambia el cursor a una manita al pasar el ratón */
    padding: 10px;
    margin: 5px;
    background-color:whitesmoke;
    border-radius: 5px;
}
